############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> MMU/ERCF MCUs are called "mmu" 

# ------------------------------------------------------------------------------------------
#-------------------------#
#   CHARTOGRAPHER         #
#-------------------------#
[mcu scanner]
canbus_uuid: d0ff76b85c48

[scanner]
#   Offsets are measured from the center of your coil to the tip of your nozzle
#   on a level axis. It is vital that this is accurate.
x_offset: 0                          
# Adjust for your Cartographer's offset from the nozzle to the middle of the coil

y_offset: 23.6 # offset for CNC Cartographer     
# Adjust for your Cartographer's offset from the nozzle to the middle of the coil

backlash_comp: 0.01788 

scanner_touch_location: 90,90 # Set to the center of the bed
scanner_touch_z_offset: 0 # This will be added to the offset at the end of every successful touch
mode: touch

#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line


#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
control: pid
pid_kp: 26.015
pid_ki: 1.770
pid_kd: 95.603


[heater_bed]
control: pid
pid_kp: 38.771
pid_ki: 1.746
pid_kd: 215.177


#-------------------------#
#   MOTORS                #
#-------------------------#
[stepper_x]
position_min: 0
position_endstop: 170
position_max: 170
rotation_distance: 32
dir_pin: !X_DIR

[stepper_y]
position_min: 0
position_endstop: 185
position_max: 185
rotation_distance: 32

[stepper_z]
position_max: 165

[stepper_z1]
dir_pin: !Z1_DIR

[stepper_z3]
dir_pin: !Z3_DIR


#-------------------------#
#   SENSORLESS HOMING     #
#-------------------------#
[tmc2209 stepper_x]
driver_SGTHRS: 255

[tmc2209 stepper_y]
driver_SGTHRS: 255


#-------------------------#
#   TMC AUTOTUNE          #
#-------------------------#

[autotune_tmc stepper_x]
motor: ldo-35sth48-1684ah
[autotune_tmc stepper_y]
motor: ldo-35sth48-1684ah

[autotune_tmc stepper_z]
motor: ldo-42sth40-1684ac
[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684ac
[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684ac
[autotune_tmc stepper_z3]
motor: ldo-42sth40-1684ac

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T